<div class="row header pt-0 pb-0">
    <div class="mtr-col-2 pr-0">
        <mat-form-field>
            <mat-select #select1 [formControl]="buildings" [(value)]="selectedBuildings"
                (selectionChange)="selectionChange($event)">
                <mat-option *ngFor="let building of buildingList" [value]="building">{{building}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="mtr-col-2 pl-0">
        <mat-form-field>
            <mat-select #select2  [formControl]="priority" [(value)]="selectedPriority" [disabled]="buildings.value === 'ALL'"
                multiple (selectionChange)="selectionChangeL2($event)">
                    <ng-container *ngIf="buildings.value === 'ALL'">
                        <mat-option *ngFor="let priority of priorityList" class="filter-option" [value]="priority" >
                            {{priority.label}} </mat-option>
                    </ng-container>
               
                <ng-container *ngIf="buildings.value !== 'ALL'">
                    <div class="select-all">
                        <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                            (change)="toggleAllSelection()">ALL</mat-checkbox>
                    </div>
                    <mat-option *ngFor="let priority of priorityList" [value]="priority">{{priority.label}}</mat-option>
                </ng-container>

            </mat-select>
        </mat-form-field>

    </div>
    <div class="mtr-col-2" *ngIf="showAppyBtn">
        <button mat-raised-button color="primary" class="apply-btn mt-2" (click)="filterClick()">Apply</button>
    </div>
</div>