@import '../styles/grid/functions';
.footer-container{
    background: #EF3E35;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 12px 15px;
    font-weight: 900;
    font-size: 12px;
    z-index: 111;
    float: left;
    height: rem(20);
  }